

/*scroll bar */

::-webkit-scrollbar {
    width: 7px; 
    opacity: 0; 
    height: 4px;
    transition: opacity 0.3s ease;
}

::-webkit-scrollbar-thumb {
    background-color: #7e7b7b7b; 
    height: 3px;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9d9898; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 0px; 
}

.scrollable.scrolling::-webkit-scrollbar {
    opacity: 1; 
}

body{
    background-color: #ddd8d8;
}